body{
    background-color: #F5F5F5;
    box-sizing: border-box;
}
#main .container{
    /* width: 100%; */
    /* height: 500px; */
    background-color: #fff;
    padding: 45px 60px;
}
/* 案例名称 也就是地址 */
#main .container .case_title{
    font-size: 22px;
}
#main .container .case_designer_info{
    height: 30px;
    line-height: 30px;
    /* vertical-align: middle; */
}
/* 设计师照片 */
#main .container .case_designer_details .designer_photo{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -2px;
}
#main .container .case_designer_details .dname{
    vertical-align: middle;
    position: relative;
    left: 8px;
}
/* 职位图标 */
#main .container .case_designer_details .designer_position{
    height: 16px;
    position: relative;
    /* top: -2px; */
    left: 6px;
}
/* 房屋信息容器 */
#main .container .case_house_details_box{
    width: 100%;
    height: 80px;
    background-color: #F6F6F6;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}
/* 房屋信息icon图 */
#main .container .case_house_details_box img.house_details_icon{
    /* width: 20%; */
    width: 170px;
    /* height: 50px; */
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px; 
    border-right: 1px solid #ccc;
}
#main .container .case_house_details_box table.house_details{
    width: 65%;
    position: relative;
    top: 10%;
    left: 20px;
}
#main .container .case_house_details_box .house_details td{
    /* border: 1px solid #000; */
    color: #999;
    font-size: 12px;
}
#main .container .case_pic img:first-child{
    width: 164px;
    height: 70px;
}
#main .container .case_pic img:last-child{
    width: 100%;
}